#map
    position absolute
    top 0px
    bottom 0px
    width 100%
    .station-marker
        width 15px
        height 15px
        div
            width 15px
            height 15px
            border-radius 50%
            border 1px solid #888
            opacity 0.8
