body
    margin 0px

    .container
        .day
            border-right 1px solid white
            float left
            width (20px*6)
            .bin
                width 20px
                height 15px
                float left

