body
    font-family arial, helvetica, sans-serif
    margin 0px
    #wrap
        width 550px
        h2
            font-size 1.1em
            margin-bottom 0.5em
        .container
            float left
            margin-bottom 20px
            hourMarkWidth = 25px
            .hourMarks
                float left
                text-align right
                width hourMarkWidth
                margin-top 19px
                .hourMark
                    margin-right 5px
                    position relative
                    top -3px
                    width (hourMarkWidth - @margin-right)
                    float right
                    clear both
                    height 20px
                    font-size 0.8em
            .day
                margin-right 1px
                float left
                width (((@width - hourMarkWidth)/ 7) - 2)
                .bin
                    width (@width / 6)
                    height 10px
                    float left
                .dayMark
                    width @width
                    text-align center
                    padding-bottom 3px
                    font-size 0.8em
                .minuteMarks
                    .minuteMark
                        float left
                        width (@width / 3)
                        font-size 0.7em
                        text-align center
                    .legend
                        display none
                        float left
                        width 100%
                        text-align center
                        font-size 0.7em
                &:nth-child(2)
                    .minuteMarks
                        .legend
                            display block

            &.c2
            &.c3
                .dayMark
                    display none
                .hourMarks
                    margin-top 0px
                .day
                    .minuteMarks
                        .legend
                            display none

.tooltip
    max-width 500px
