body
    font-family arial, helvetica, sans-serif
    margin 0px
    #wrap
        width 550px
        hourMarkWidth = 39px
        h2
            font-size 1.1em
            margin-bottom 0.5em
            margin-left hourMarkWidth
        .legend
            margin 0px
            float left
            width 100%
            dt
                float right
                clear right
                overflow hidden
                height 10px
                margin-right 8px
                position relative
                top 2px
                width 11px
                margin-bottom 10px
                &.bad
                    border 1px solid darken(#2C7BB6, 50%)
                    background #2C7BB6
                    color #2C7BB6
                &.good
                    border 1px solid darken(#D7191C, 50%)
                    background #D7191C
                    color #D7191C
                &.dbad
                    border 1px solid darken(#D7191C, 50%)
                    background #D7191C
                    color #D7191C
                &.dgood
                    border 1px solid darken(#1A9641, 50%)
                    background #1A9641
                    color #1A9641
            dd
                font-size 0.8em
                float right
                margin-left 0px
                margin-right 10px
        .container
            float left
            margin-bottom 20px

            .hourMarks
                float left
                text-align right
                width hourMarkWidth
                margin-top 19px
                position relative
                .hourMark
                    margin-right 5px
                    position relative
                    top -3px
                    width (hourMarkWidth - @margin-right)
                    float right
                    clear both
                    height 20px
                    font-size 0.8em
                .legend
                    float left
                    width 100%
                    text-align center
                    font-size 0.72em
                    transform: rotate(90deg)
                    -ms-transform: rotate(90deg)
                    -moz-transform: rotate(90deg)
                    -webkit-transform: rotate(90deg)
                    -o-transform: rotate(90deg)
                    position absolute
                    top 12px
                    left -5px
                    letter-spacing 0.1em
            .day
                margin-right 1px
                float left
                width (((@width - hourMarkWidth)/ 7) - 2)
                .bin
                    width (@width / 6)
                    height 10px
                    float left
                .dayMark
                    width @width
                    text-align center
                    padding-bottom 3px
                    font-size 0.8em
                .minuteMarks
                    .minuteMark
                        float left
                        width (@width / 3)
                        font-size 0.7em
                        text-align center
                    .legend
                        display none
                        float left
                        width 100%
                        text-align center
                        font-size 0.7em
                &:nth-child(2)
                    .minuteMarks
                        .legend
                            display block

            &.c2
            &.c3
            &.c4
                .dayMark
                    display none
                .hourMarks
                    margin-top 0px

.tooltip
    max-width 500px
