body {
  font-family: arial, helvetica, sans-serif;
  margin: 0px;
}
body #wrap {
  width: 550px;
  margin-left: 50px;
}
body #wrap h2 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
body #wrap .container {
  float: left;
  margin-bottom: 20px;
}
body #wrap .container .day {
  margin-right: 1px;
  float: left;
  width: 77.57142857142857px;
}
body #wrap .container .day .bin {
  width: 12.928571428571429px;
  height: 10px;
  float: left;
}
body #wrap .container .day .dayPopis {
  width: 77.57142857142857px;
  text-align: center;
  padding-bottom: 3px;
  font-size: 0.8em;
}
body #wrap .container .day .minutesPopis .minutePopis {
  float: left;
  width: 25.857142857142858px;
  font-size: 0.7em;
  text-align: center;
}
body #wrap .container.c2 .dayPopis,
body #wrap .container.c3 .dayPopis,
body #wrap .container.c2 .minutesPopis,
body #wrap .container.c3 .minutesPopis {
  display: none;
}
