body {
  font-family: arial, helvetica, sans-serif;
  margin: 0px;
}
body #wrap #map {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}
body #wrap #map .station-marker {
  width: 15px;
  height: 15px;
}
body #wrap #map .station-marker span {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #888;
  opacity: 0.8;
}
body #wrap {
  width: 550px;
}
body #wrap h2 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  margin-left: 39px;
}
body #wrap .legend {
  margin: 0px;
  float: left;
  width: 100%;
}
body #wrap .legend dt {
  float: right;
  clear: right;
  overflow: hidden;
  height: 10px;
  margin-right: 8px;
  position: relative;
  top: 2px;
  width: 11px;
  margin-bottom: 10px;
}
body #wrap .legend dt.bad {
  border: 1px solid #163d5b;
  background: #2c7bb6;
  color: #2c7bb6;
}
body #wrap .legend dt.good {
  border: 1px solid #6b0c0e;
  background: #d7191c;
  color: #d7191c;
}
body #wrap .legend dt.dbad {
  border: 1px solid #6b0c0e;
  background: #d7191c;
  color: #d7191c;
}
body #wrap .legend dt.dgood {
  border: 1px solid #0d4b21;
  background: #1a9641;
  color: #1a9641;
}
body #wrap .legend dd {
  font-size: 0.8em;
  float: right;
  margin-left: 0px;
  margin-right: 10px;
}
body #wrap .container {
  float: left;
  margin-bottom: 20px;
  position: relative;
}
body #wrap .container .selectorContainer {
  position: absolute;
  top: -40px;
  left: 39px;
}
body #wrap .container .hourMarks {
  float: left;
  text-align: right;
  width: 39px;
  margin-top: 19px;
  position: relative;
}
body #wrap .container .hourMarks .hourMark {
  margin-right: 5px;
  position: relative;
  top: -3px;
  width: 34px;
  float: right;
  clear: both;
  height: 20px;
  font-size: 0.8em;
}
body #wrap .container .hourMarks .legend {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 0.72em;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  position: absolute;
  top: 12px;
  left: -5px;
  letter-spacing: 0.1em;
}
body #wrap .container .day {
  margin-right: 1px;
  float: left;
  width: 71px;
}
body #wrap .container .day .bin {
  width: 11.833333333333334px;
  height: 10px;
  float: left;
}
body #wrap .container .day .dayMark {
  width: 71px;
  text-align: center;
  padding-bottom: 3px;
  font-size: 0.8em;
}
body #wrap .container .day .minuteMarks .minuteMark {
  float: left;
  width: 23.666666666666668px;
  font-size: 0.7em;
  text-align: center;
}
body #wrap .container .day .minuteMarks .legend {
  display: none;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 0.7em;
}
body #wrap .container .day:nth-child(2) .minuteMarks .legend {
  display: block;
}
body #wrap .container.c2 .dayMark,
body #wrap .container.c3 .dayMark,
body #wrap .container.c4 .dayMark {
  display: none;
}
body #wrap .container.c2 .hourMarks,
body #wrap .container.c3 .hourMarks,
body #wrap .container.c4 .hourMarks {
  margin-top: 0px;
}
.tooltip {
  max-width: 500px;
}
