body {
  margin: 0px;
}
body .container {
  width: 550px;
  float: left;
}
body .container .day {
  margin-right: 1px;
  float: left;
  width: 77.57142857142857px;
}
body .container .day .bin {
  width: 12.928571428571429px;
  height: 10px;
  float: left;
}
